<h2>Albums</h2>

<div *ngIf="albums.length">
  <md-card *ngFor="let album of albums"> 
    <md-content (click)="selectedAlbumId = album.id">{{album.name}} - {{album.year}}</md-content>
  </md-card>
</div>

<div *ngIf="!albums.length">
  <span>No albums for this band currently</span>
</div>

<br>
<button md-raised-button (click)="addAlbumProcess()">Add Album</button>

<div *ngIf="showAddAlbum">
  <form (ngSubmit)="postAlbum()" #albumDetailForm="ngForm">
      <label *ngIf="newAlbum.id">Id</label><span>&nbsp;{{newAlbum.id}}</span><br>

      <label>Name</label>
      <input type="text" required name="albumName" [(ngModel)]="newAlbum.name" #albumName="ngModel">
      <div [hidden]="albumName.valid || albumName.pristine">Album name is required</div><br>

      <label>Year</label>
      <input type="text" required name="albumYear" [(ngModel)]="newAlbum.year" #albumYear="ngModel">
      <div [hidden]="albumYear.valid || albumYear.pristine">Album year is required</div><br>

      <label>Rating</label>
      <input type="text" required name="albumRating" [(ngModel)]="newAlbum.rating" #albumRating="ngModel">
      <div [hidden]="albumRating.valid || albumRating.pristine">Album rating is required</div><br>

      <button md-raised-button type="submit" [disabled]="albumDetailForm.form.valid === false">Save Album</button><br>

      {{ui.error}}
  </form>
</div>

<song-list [albumId]="selectedAlbumId" *ngIf="selectedAlbumId" (emitToParent)="emitFromChild($event)"></song-list>

