<div *ngIf="band">
  <h2>{{band.name}}</h2>
  <form (ngSubmit)="onSubmit()" #bandDetailForm="ngForm">

    <label *ngIf="band.id">Id</label><span>&nbsp;{{band.id}}</span><br>

    <label>Name</label>
    <input type="text" required name="bandName" [(ngModel)]="band.name" #bandName="ngModel">
    <div [hidden]="bandName.valid || bandName.pristine">Band name is required</div><br>

    <!--<md-input [(ngModel)]="band.name" [type]="text" [attr.name]="test"></md-input>-->
    
    <label>Rating</label>
    <input type="text" required name="bandRating" [(ngModel)]="band.rating" #bandRating="ngModel">
    <div [hidden]="bandRating.valid || bandRating.pristine">Band rating is required</div><br>

    <button md-raised-button type="submit" [disabled]="bandDetailForm.form.valid === false">Submit</button>
    <button md-raised-button (click)="deleteBand()" *ngIf="band.id">Delete</button><br>
    {{serviceResponse}}
  </form>
 
  <div *ngIf="band.id"> 
    <album-list [band]="band"></album-list>
  </div>
</div>




