<div *ngIf="band">
  <h2>{{band.name}}</h2>
  <form (ngSubmit)="onSubmit()" #bandDetail="ngForm">

    <label>Name</label>
    <input type="text" name="bandName" required [(ngModel)]="band.name" #bandName="ngModel">
    <div [hidden]="bandName.valid || bandName.pristine">Band name is required</div><br>
    
    <label>Rating</label>
    <input type="text" name="bandRating" required [(ngModel)]="band.rating" #bandRating="ngModel">
    <div [hidden]="bandRating.valid || bandRating.pristine">Band rating is required</div><br>

    <br>

    <button md-raised-button type="submit" [disabled]="!bandDetail.form.valid">Submit</button>
    <button md-raised-button (click)="deleteBand()" *ngIf="band.id">Delete</button><br>
    {{serviceResponse}}
  </form>
 
  <div *ngIf="band.id"> 
    <album-list [band]="band"></album-list>
  </div>
</div>




