<div *ngIf="band">
  <h2>Band</h2>
  <form 
    (ngSubmit)="onSubmit()" 
    #bandDetailForm="ngForm">
    <label>Id</label><span>{{band.id}}</span>
    <br>
    <label>Name</label>
    <input type="text" required name="bandName" 
      [(ngModel)]="band.name" 
      #bandName="ngModel">
    <div 
      [hidden]="bandName.valid || bandName.pristine">Band name is required</div>
    <br>
    <label>Rating</label>
    <input type="text" required name="bandRating" 
      [(ngModel)]="band.rating" 
      #bandRating="ngModel">
    <div 
      [hidden]="bandRating.valid || bandRating.pristine">Band rating is required</div>
    <br>
    <button type="submit" 
      [disabled]="bandDetailForm.form.valid === false">Submit</button>
  </form>

  <h2>Albums</h2>
  <div *ngIf="band.albums.length">
    <ul *ngFor="let album of band.albums">
      <li (click)="selectedAlbumId = album.id">{{album.name}} - {{album.year}}</li>
    </ul>
  </div>
  <div *ngIf="!band.albums.length">
    <span>No albums for this band currently</span>
  </div>
</div>

<song-list [albumId]="selectedAlbumId" 
            *ngIf="selectedAlbumId"
            (emitToParent)="emitFromChild($event)"></song-list>




