<img src="app/asset/image/loading.gif" width="80px" *ngIf="loading">

<!-- material grid list, did not work that well as a layout device
<div *ngIf="bands">
<md-grid-list cols="4" [style.background]="'lightblue'">
  <md-grid-tile>Id</md-grid-tile>
  <md-grid-tile>Name</md-grid-tile>
  <md-grid-tile>Rating</md-grid-tile>
</md-grid-list>

<div *ngFor="let band of bands">
<md-grid-list cols="4" 
      (click)="router.navigate(['/band'], { queryParams: { id: band.id } })">
    <md-grid-tile>{{band.id}}</md-grid-tile>
    <md-grid-tile>{{band.name}}</md-grid-tile>
    <md-grid-tile>{{band.rating}}</md-grid-tile>
 </md-grid-list>
</div>
</div>
-->

<!-- material card-->
<md-card *ngIf="bands"> 
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let band of bands" (click)="router.navigate(['/band'], { queryParams: { id: band.id } })">
        <td>{{band.id}}</td>
        <td>{{band.name}}</td>
        <td>{{band.rating}}</td>
      </tr>
    </tbody>
  </table>   
</md-card>

<span *ngIf="errorMessage">{{errorMessage | json}}</span>

<!--
<table *ngIf="bands">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tr *ngFor="let band of bands"
      (click)="router.navigate(['/band'], { queryParams: { id: band.id } })">
    <td>{{band.id}}</td>
    <td>{{band.name}}</td>
    <td>{{band.rating}}</td>
  </tr>
</table>
-->

<!--
<table *ngIf="bandsPromise">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tr *ngFor="let band of bandsPromise"
      (click)="router.navigate(['/band'], { queryParams: { id: band.id } })">
    <td>{{band.id}}</td>
    <td>{{band.name}}</td>
    <td>{{band.rating}}</td>
  </tr>
</table>
-->

<br><button md-raised-button (click)="router.navigate(['/band'])">Add Band</button>